/*!
 * Name : Finance Website
 * Version: 1.0.0
 * Author: Sajeeb Debnath
 * Author URL: fb.me/sajeebdebnath.cse
 * Github: https://github.com/sajeebdebnath
 * Sajeeb Debnath 

 * Table of Contents:
    A. Home
        01. Header Section
        02. Hero Section
        10. Footer Section
*/

/* ------------------------- Home Start --------------------- */
/* ------------------------- Header Section CSS Start --------------------- */
.header-top-area {
  background: #000;
  user-select: none;
  padding: 15px 0px;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
}
.header-top-area.active {
  background: #ffffff;
  box-shadow: 0 2px rgb(238, 238, 238);
}
.header-top-area .logo {
  display: flex;
  gap: 8px;
  background-color: white;
}
.header-top-area .logo img {
  -webkit-user-drag: none;
}
.header-top-area .logo object {
  height: 30px;
}
.menu-area {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: all 0.3s ease-in-out;
}
.menu-area nav {
  display: inline-block;
}
.menu-area nav ul {
  display: flex;
}
.menu-area nav ul li {
  padding: 0px 15px;
}
.menu-area nav ul li a {
  font-size: var(--smallFont);
  text-decoration: none;
  color: var(--bgColor3);
}
.menu-area nav ul li a:hover {
  color: wheat;
}
.menu-area nav ul li .active {
  color: wheat;
}
.navigation {
  position: relative;
  display: flex;
  align-items: center;
}

.navigation .menu-area {
  margin-left: auto;
}
.navigation .join-us {
  margin-left: 20px;
}

.join-us .btn {
  border-radius: 20px;
  padding: 7px 20px;
}

/* ------------------------- Header Section CSS End --------------------- */

/* -------------------------Hero Section CSS Start --------------------- */
.single-hero-slide-bg {
  background-repeat: no-repeat;
  background-color: #c9f0f2;
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}
.hero-text {
  text-align: center;
}

.hero-text h1 {
  color: black;
  font-size: 50px;
  font-weight: 600;
}

.hero-text p {
  color: black;
}
.hero-area-wrapper.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  color: white;
  z-index: 8888;
}

.hero-area-wrapper.owl-carousel .owl-nav button {
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  transition: 0.3s;
  position: absolute;
}

.hero-area-wrapper.owl-carousel .owl-nav button:hover {
  background: wheat;
  color: black;
}
.hero-area-wrapper.owl-carousel .owl-dots {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  gap: 5px;
  margin-left: -40px;
}

.hero-area-wrapper.owl-carousel .owl-dots .owl-dot {
  width: 15px;
  height: 5px;
  background: #b8c8e6;
  border-radius: 5px;
}

.hero-area-wrapper.owl-carousel .owl-dots .owl-dot.active {
  width: 20px;
  background: var(--bgColor2);
}
/* -------------------------Hero Section CSS End --------------------- */
